<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ativos - Park Manager</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/ativos.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,700&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </script>
    <script src="../../public/js/inputCar.js">
    </script>
    <script src="../../public/js/ativos.js">
    </script>


    <script src="../../public/js/relogio.js"></script>
    <script type='module' src="../../public/js/remove.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../../public/img/maps-and-flags.png" alt="logo">
        </div>
        <div class="main-menu">
            <a href="">
                <div class="menu-item">
                    <p>
                        Ativos
                    </p>
                </div>
            </a>
            <a href="">
                <div class="menu-item">
                    <p>
                        Histórico
                    </p>
                </div>
            </a>
            <a href="">
                <div class="menu-item">
                    <p>
                        Mensalistas
                    </p>
                </div>
            </a>
            <a href="">
                <div class="menu-item">
                    <p>
                        Mais opções
                    </p>
                </div>
            </a>
            <a href="">
                <div class="menu-item">
                    <p>
                        Vagas Disponíveis: <span id="vagasDisponiveis">
                            <%=vagas%>
                        </span>
                    </p>
                </div>
            </a>
            <a href="">
                <div class="menu-item">
                    <p>
                        Hora: <span id="horaAtual"></span>:<span id="minAtual"></span>
                    </p>
                </div>
            </a>
        </div>
    </header>
    <main>
        <div class="tabela-ativos">
            <div class="tabela-topo">
                <h2>Ativos</h2>
                <div class="colunas-tabela">
                    <div class="col id">Id</div>
                    <div class="col marca">Marca</div>
                    <div class="col modelo">Modelo</div>
                    <div class="col cor">Cor</div>
                    <div class="col placa">Placa</div>
                    <div class="col tipo">Tipo</div>
                    <div class="col tamanho">Tamanho</div>
                    <div class="col hora">Hora Entrada</div>
                    <div class="col funcoes">Funções</div>
                </div>
            </div>

            <div class="tabela-dados">

                <% values.forEach(function(carro) {%>
                    <div class="linhas-tabela">

                        <div class="linha id">
                            <%=carro.id_carro%>
                        </div>
                        <div class="linha marca">
                            <%=carro.marca%>
                        </div>
                        <div class="linha modelo">
                            <%=carro.modelo%>
                        </div>
                        <div class="linha cor">
                            <%=carro.cor%>
                        </div>
                        <div class="linha placa">
                            <%=carro.placa%>
                        </div>
                        <div class="linha tipo">
                            <% if(carro.tipo==1){%>
                                HORA
                                <%}else{%>
                                    PERÍODO
                                    <% }%>
                        </div>
                        <div class="linha tamanho">
                            <% if(carro.tamanho==1){%>
                                PADRÃO
                                <%}else if(carro.tamanho==2){%>
                                    GRANDE
                                    <% }else{%>
                                        MOTO
                                        <% }%>
                        </div>
                        <div class="linha hora">
                            <%=carro.hora_entrada%>
                        </div>
                        <div class="linha funcoes">
                            <button class="openModalFinish mrrfsrfss <%=Number(carro.id_carro)%>">Finalizar</button>
                            <button class="wxosppsaw <%=Number(carro.id_carro)%>">Ed</button>
                            <button>Pr</button>
                        </div>

                    </div>
                    <%})%>


            </div>
        </div>
        <button id="openModalAddCar" class="adicionar" onclick="add()">add</button>
        <div id="modalAddCar" class="modal">
            <div class="conteudo-modal">
                <div class="header-modal">
                    <h3>Adicionar Veículo</h3>
                    <span class="close" onclick="fecha()">&times</span>
                </div>
                <div class="body-modal">
                    <form id="form1" method="post">
                        <fieldset>
                            <legend>Cadastro Veículo</legend>
                            <label for="marca">Marca:</label>
                            <br>
                            <input type="hidden" id="act" name="act" value="0">
                            <input type="text" name="marca" id="marca">
                            <br>
                            <label for="modelo">Modelo:</label>
                            <br>
                            <input type="text" name="modelo" id="modelo">
                            <br>
                            <label for="cor">Cor:</label>
                            <br>
                            <input type="text" name="cor" id="cor">
                            <br>
                            <label for="placa">Placa:</label>
                            <br>
                            <input type="text" name="placa" id="placa">
                            <br>
                            <label for="telefone">Telefone:</label>
                            <br>
                            <input type="text" name="telefone" id="telefone">
                            <br>
                            <div class="selectSection">
                                <p>Tipo:</p>
                                <input type="radio" name="timeType" id="hora" value="1" class="radio">
                                <label for="hora">Hora</label>
                                <br>
                                <input type="radio" name="timeType" id="Periodo" value="2" class="radio">
                                <label for="Periodo">Período</label>
                            </div>
                            <div class="selectSection">
                                <p>Tamanho:</p>
                                <input type="radio" name="size" id="Padrão" value="1" class="radio">
                                <label for="Padrão">Padrão</label>
                                <br>
                                <input type="radio" name="size" id="Grande" value="2" class="radio">
                                <label for="Grande">Grande</label>
                                <br>
                                <input type="radio" name="size" id="Moto" value="3" class="radio">
                                <label for="Moto">Moto</label>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="footer-modal">
                    <button form="form1" type="submit" class="adicionarBtn">Adicionar</button>
                    <button id="cancelModalAddCar" form="form1" type="reset" class="cancelarBtn"
                        onclick="cancela()">Cancelar</button>
                </div>
            </div>
        </div>
        <div id="modalFinishTime" class="modal">
            <div class="conteudo-modal">
                <div class="header-modal">
                    <h3>Finalizar Tempo</h3>
                    <span class="close" onclick="fecha()">&times</span>
                </div>
                <div class="body-modal">
                    <form id="form2">
                        <fieldset>
                            <legend>Finalizar Tempo</legend>
                            <input type="hidden" id="act" name="act" value="1">
                            <label for="marca">Marca:</label>
                            <br>
                            <input type="text" name="marca" id="marcaFinish" disabled>
                            <br>
                            <label for="modelo">Modelo:</label>
                            <br>
                            <input type="text" name="modelo" id="modeloFinish" disabled>
                            <br>
                            <label for="cor">Cor:</label>
                            <br>
                            <input type="text" name="cor" id="corFinish" disabled>
                            <input type="hidden" name="idFinish" id="idFinish">
                            <br>
                            <label for="placa">Placa:</label>
                            <br>
                            <input type="text" name="placa" id="placaFinish" disabled>
                            <br>
                            <div class="selectSection">
                                <p>Tipo:</p>
                                <input type="radio" name="timeType" id="hourFinish" value="1" class="radio" disabled>
                                <label for="hour">Hora</label>
                                <br>
                                <input type="radio" name="timeType" id="periodFinish" value="2" class="radio" disabled>
                                <label for="period">Período</label>
                            </div>
                            <div class="selectSection">
                                <p>Tamanho:</p>
                                <input type="radio" name="size" id="padraoFinish" value="1" class="radio" disabled>
                                <label for="Padrão">Padrão</label>
                                <br>
                                <input type="radio" name="size" id="grandeFinish" value="2" class="radio" disabled>
                                <label for="Grande">Grande</label>
                                <br>
                                <input type="radio" name="size" id="motoFinish" value="3" class="radio" disabled>
                                <label for="Moto">Moto</label>

                                <p>Adicional:</p>
                                <input type="checkbox" name="lavagem" id="lavagem" value="1">
                                <label for="lavagem">Lava-rápido</label>
                                <input type="checkbox" name="hInterna" id="hInterna" value="1">
                                <label for="hInterna">Higienização Interna</label>
                                <br>
                                <p>Convênio:</p>
                                <select name="convenio" id="convenio">
                                    <option value="0">Nenhum</option>
                                    <option value="1">Hospital</option>
                                    <option value="2">Clínica</option>
                                    <option value="3">Loja</option>
                                    <option value="4">Farmácia</option>
                                </select>
                                <p>Desconto:</p>
                                <select name="desconto" id="desconto">
                                    <option value="0">Nenhum</option>
                                    <option value="1">5%</option>
                                    <option value="2">10%</option>
                                    <option value="3">15%</option>
                                    <option value="4">20%</option>
                                </select>

                                <p>Método de Pagamento:</p>
                                <input type="radio" name="payType" id="card" value="1" class="radio">
                                <label for="card">Cartão</label>
                                <input type="radio" name="payType" id="money" value="2" class="radio">
                                <label for="money">Dinheiro</label>
                                <input type="radio" name="payType" id="pix" value="3" class="radio">
                                <label for="pix">Pix</label>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="footer-modal">
                    <button form="form2" type="button" class="sfdkfd adicionarBtn">Finalizar</button>
                    <button id="cancelModalFinishTime" form="form2" type="reset" class="cancelarBtn"
                        onclick="cancela()">Cancelar</button>
                </div>
            </div>
        </div>
        <div id="modalEditCar" class="modal">
            <div class="conteudo-modal">
                <div class="header-modal">
                    <h3>Editar Veículo</h3>
                    <span class="close" onclick="fecha()">&times</span>
                </div>
                <div class="body-modal">
                    <form id="form3" method="post">
                        <fieldset>
                            <input type="hidden" id="act" name="act" value="2">
                            <input type="hidden" id="exec" name="exec" value="edit">
                            <legend>Editar Veículo</legend>
                            <label for="marca">Marca:</label>
                            <br>
                            <input type="text" name="marca" id="marcaEdit">
                            <br>
                            <input type="hidden" name="idEdit" id="idEdit">
                            <label for="modelo">Modelo:</label>
                            <br>
                            <input type="text" name="modelo" id="modeloEdit">
                            <br>
                            <label for="cor">Cor:</label>
                            <br>
                            <input type="text" name="cor" id="corEdit">
                            <br>
                            <label for="placa">Placa:</label>
                            <br>
                            <input type="text" name="placa" id="placaEdit">
                            <br>
                            <label for="telefone">Telefone:</label>
                            <br>
                            <input type="text" name="telefone" id="telefoneEdit">
                            <br>

                            <div class="selectSection">
                                <p>Tipo:</p>
                                <input type="radio" name="timeType" id="horaEdit" value="1" class="radio">
                                <label for="hora">Hora</label>
                                <br>
                                <input type="radio" name="timeType" id="periodoEdit" value="2" class="radio">
                                <label for="periodo">Período</label>
                            </div>
                            <div class="selectSection">
                                <p>Tamanho:</p>
                                <input type="radio" name="size" id="padraoEdit" value="1" class="radio">
                                <label for="padraoEdit">Padrão</label>
                                <br>
                                <input type="radio" name="size" id="grandeEdit" value="2" class="radio">
                                <label for="grande">Grande</label>
                                <br>
                                <input type="radio" name="size" id="motoEdit" value="3" class="radio">
                                <label for="moto">Moto</label>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="footer-modal">
                    <button form="form3" class="adicionarBtn">Salvar</button>
                    <button onclick="abreConfirma()" class="cancelarBtn">Excluir</button>
                    <button id="cancelModalEditCar" form="form3" type="reset" class="cancelarBtn"
                        onclick="cancela()">Cancelar</button>
                </div>
            </div>

        </div>
        <div id="modalConfirma" class="modal">
            <div class="conteudo-modal modal-confirma">
                <div class="header-modal">
                    <h3>Confirma</h3>
                    <span class="close" onclick="cancelaConfirma()">&times</span>
                </div>
                <div class="body-modal">
                    <input type="text" name="idConfirma" id="idConfirma" disabled style="display: none;">
                    <p class="pConfirma">Deseja excluir esse Registro?</p>
                </div>
                <div class="footer-modal">
                    <form id="form4" method="post">
                        <input type="hidden" id="confirmaExclude" name="id_carro">
                        <input type="hidden" id="act" name="act" value="2">
                        <input type="hidden" id="exec" name="exec" value="exclude">
                    </form>
                    <button type="submit" form="form4" class="cancelarBtn">Excluir</button>
                    <button id="cancelModalEditCar" class="cancelarBtn" onclick="cancelaConfirma()">Cancelar</button>
                </div>
            </div>
        </div>
        <div id="modalConfirma2" class="modal">
            <div class="conteudo-modal modal-confirma">
                <div class="header-modal">
                    <h3>Finaliza</h3>
                    <span class="close" onclick="cancelaConfirma()">&times</span>
                </div>
                <div class="body-modal">
                    <input type="text" name="idConfirma" id="idConfirma" disabled style="display: none;">
                    <p class="pConfirma">Deseja finalizar esse Registro?</p>
                    <input type="hidden" id="confirmaFinish" name="id_carro">
                    <input type="hidden" id="act" name="act" value="3">
                    <p>ID: <span id="idCarSpanFinishModal"></span></p>
                    <p>Marca: <span id="marcaSpanFinishModal"></span></p>
                    <p>Modelo: <span id="modeloSpanFinishModal"></span></p>
                    <p>Placa: <span id="placaSpanFinishModal"></span></p>
                    <p>Hora Entrada: <span id="horaEntradaSpanFinishModal"></span></p>
                    <p>Hora Saída: <span id="horaSaidaSpanFinishModal"></span></p>
                    <p>Adicionais: <span id="adicionaisSpanFinishModal"></span></p>
                    <p>Convênio: <span id="convenioSpanFinishModal"></span></p>
                    <p>Tempo Total: <span id="tempoTotalSpanFinishModal"></span></p>
                    <p>Valor Total: <span id="valorTotalSpanFinishModal"></span></p>

                </div>
                <div class="footer-modal">


                    <button type="button" class="wemiseparrk adicionarBtn">Finalizar</button>
                    <button id="cancelModalFinishCar" type="reset" class="cancelarBtn"
                        onclick="cancelaConfirma()">Cancelar</button>
                </div>
            </div>
        </div>
    </main>
    <script src="../../public/js/edit.js"></script>
    <script src="../../public/js/finish.js"></script>
    <script src="../../public/js/remove.js"></script>
</body>

</html>