<header>
    <div class="logo">
        <img src="../../public/img/maps-and-flags.png" alt="logo">
    </div>
    <div class="main-menu">
        <a href="/ativos">
            <div class="menu-item">
                <p>
                    Ativos
                </p>
            </div>
        </a>
        <a href="/historico">
            <div class="menu-item">
                <p>
                    Histórico
                </p>
            </div>
        </a>
        <a href="">
            <div class="menu-item">
                <p>
                    Mensalistas
                </p>
            </div>
        </a>

        <div class="menu-item dropdown">
            <p class="dropbtn">
                Mais opções &#9660;
            </p>
            <div class="dropdown-content">
                <a href="/estacionamento">Estacionamento - Preços</a>
                <a href="/convenios">Convênios</a>
                <a href="#">Link 3</a>
            </div>
        </div>

        <a href="">
            <div class="menu-item">
                <p>
                    Vagas Disponíveis: <span id="vagasDisponiveis">
                        <%=vagas%>
                    </span>
                </p>
            </div>
        </a>
        <a href="">
            <div class="menu-item">
                <p>
                    Hora: <span id="horaAtual"></span>:<span id="minAtual"></span>
                </p>
            </div>
        </a>
    </div>
</header>