<div id="modalHist" class="modal">
    <div class="conteudo-modal modal-confirma">
        <div class="header-modal">
            <h3>Histórico</h3>
            <span class="close" onclick="fecha('modalHist')">&times</span>
        </div>
        <div class="body-modal">
            <strong>
                <p>ID: <span id="idCarSpan"></span></p>
            </strong>
            <p>Marca: <span id="marcaSpan"></span></p>
            <p>Modelo: <span id="modeloSpan"></span></p>
            <p>Placa: <span id="placaSpan"></span></p>
            <p>Hora Entrada: <span id="horaEntradaSpan"></span></p>
            <p>Hora Saída: <span id="horaSaidaSpan"></span></p>
            <p>Adicionais: <span id="adicionaisSpan"></span></p>
            <p>Convênio: <span id="convenioSpan"></span></p>
            <p>Tempo Total: <span id="tempoTotalSpan"></span></p>
            <p>Desconto: <span id="descontoSpan"></span></p>
            <p>Pagamento: <span id="pagamentoSpan"></span></p>
            <strong>
                <p>Valor Total: <span id="valorTotalSpan"></span></p>
            </strong>
        </div>
        <div class="footer-modal">
            <button type="button" class="ewrooqw adicionarBtn">Reabrir</button>
            <button type="button" class="parwwql cancelarBtn">Excluir</button>
            <button id="cancelModalFinishCar" type="reset" class="cancelarBtn"
                onclick="fecha('modalHist')">Cancelar</button>
        </div>
    </div>
</div>