<div id="modalAdmin" class="modal">
    <div class="conteudo-modal modal-confirma">
        <div class="header-modal">
            <h3>Administrador</h3>
            <span class="close" onclick="fechaModal()">&times</span>
        </div>
        <div class="body-modal">
            <p>Para acessar essa função você precisa fornecer suas credenciais de <strong>administrador</strong></p>
            <label for="email">Email</label>
            <input type="email" id="email">
            <label for="pwd">Senha</label>
            <input type="password" id="pwd">
        </div>
        <div class="footer-modal">
            <button type="button" class="pseroiia cancelarBtn">Autenticar</button>
            <button id="cancelModalAdmin" class="cancelarBtn" onclick="fecha('modalConfirma')">Cancelar</button>
        </div>
    </div>
</div>