<div id="modalConfirma" class="modal">
    <div class="conteudo-modal modal-confirma">
        <div class="header-modal">
            <h3>Confirma</h3>
            <span class="close" onclick="fecha('modalConfirma')">&times</span>
        </div>
        <div class="body-modal">
            <!-- <input type="text" name="idConfirma" id="idConfirma" disabled style="display: none;"> -->
            <p class="pConfirma">Deseja excluir esse Registro?</p>
            <p>Para reabrir esse registro adicione uma credencial de administrador:</p>
            <label for="emailEx">Email:</label>
            <input type="email" id="emailEx">
            <label for="pwdEx">Senha:</label>
            <input type="password" id="pwdEx">
        </div>
        <div class="footer-modal">
            <button type="button" class="fallends2 cancelarBtn">Excluir</button>
            <button id="cancelModalEditCar" class="cancelarBtn" onclick="fecha('modalConfirma')">Cancelar</button>
        </div>
    </div>
</div>
<div id="modalConfirmaReabrir" class="modal">
    <div class="conteudo-modal modal-confirma">
        <div class="header-modal">
            <h3>Confirma</h3>
            <span class="close" onclick="fecha('modalConfirmaReabrir')">&times</span>
        </div>
        <div class="body-modal">
            <!-- <input type="text" name="idConfirma" id="idConfirma" disabled style="display: none;"> -->
            <p class="pConfirma">Deseja reabrir esse Registro?</p>
            <p>Para reabrir esse registro adicione uma credencial de administrador:</p>
            <label for="emailReopen">Email:</label>
            <input type="email" id="emailReopen">
            <label for="pwdReopen">Senha:</label>
            <input type="password" id="pwdReopen">
        </div>
        <div class="footer-modal">
            <button type="button" class="apskkpe cancelarBtn">Reabrir</button>
            <button id="cancelModalEditCar" class="cancelarBtn"
                onclick="fecha('modalConfirmaReabrir')">Cancelar</button>
        </div>
    </div>
</div>
<div id="modalConfirma2" class="modal">
    <div class="conteudo-modal modal-confirma">
        <div class="header-modal">
            <h3>Finaliza</h3>
            <span class="close" onclick="fecha('modalConfirma2')">&times</span>
        </div>
        <div class="body-modal">
            <!-- <input type="text" name="idConfirma" id="idConfirma" disabled style="display: none;"> -->
            <p class="pConfirma">Deseja finalizar esse Registro?</p>
            <input type="hidden" id="confirmaFinish" name="id_carro">
            <input type="hidden" id="act" name="act" value="3">
            <p>ID: <span id="idCarSpanFinishModal"></span></p>
            <p>Marca: <span id="marcaSpanFinishModal"></span></p>
            <p>Modelo: <span id="modeloSpanFinishModal"></span></p>
            <p>Placa: <span id="placaSpanFinishModal"></span></p>
            <p>Hora Entrada: <span id="horaEntradaSpanFinishModal"></span></p>
            <p>Hora Saída: <span id="horaSaidaSpanFinishModal"></span></p>
            <p>Adicionais: <span id="adicionaisSpanFinishModal"></span></p>
            <p>Convênio: <span id="convenioSpanFinishModal"></span></p>
            <p>Tempo Total: <span id="tempoTotalSpanFinishModal"></span></p>
            <p>Valor Total: <span id="valorTotalSpanFinishModal"></span></p>

        </div>
        <div class="footer-modal">


            <button type="button" class="wemiseparrk adicionarBtn">Finalizar</button>
            <button id="cancelModalFinishCar" type="reset" class="cancelarBtn"
                onclick="fecha('modalConfirma2')">Cancelar</button>
        </div>
    </div>
</div>