header {
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;

}

div.cars-data::-webkit-scrollbar {
    width: 5px;
    background-color: #ccc;
    color: #222;
}

div.cars-data::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #222;
    color: #222;
}

.logo img {
    height: 80px;
    float: left;
}

.main-menu {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    text-align: center;
}

.cars-data {
    max-width: 70vw;
    margin: 10px auto;
    overflow: hidden;
}

.car {
    box-sizing: border-box;
    width: 18%;
    display: inline;
    float: left;
    background-color: var(--medium-blue);
    margin-right: 20px;
    color: var(--white);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;

}

.content-ativos {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-right: 11px;
}

.data {
    max-width: 95%;
    min-width: 95%;
    box-sizing: border-box;
}

.buttons {
    max-width: 5%;
    min-width: 5%;
    box-sizing: border-box;
}

.buttons button {
    display: none;
}

.car:hover .buttons button {
    display: block;
}












.adicionar {
    position: fixed;
    left: 95%;
    bottom: 8%;
}