:root {
    --fontInput: #272727;
    --confirmColor: #1a961a;
    --cancelColor: #910d0d;
    --dark-blue: #0e3658;
    --medium-blue: #165081;
    --light-blue: #29abf4;
    --red: f54646;
    --white: #FFF;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: black
}

h3 {
    margin: 0 0 0 25px;

}

fieldset {
    border: none;
}

legend {
    display: none;
}

p {
    margin: 0;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    cursor: pointer;
}


.conteudo-modal {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    cursor: default;
    font-size: 1.4rem;
    max-height: 70vh;
    overflow: auto;
}

.modal-confirma {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    cursor: default;
    font-size: 1.4rem;
    max-height: 70vh;
    overflow: auto;
}

.pConfirma {
    margin: 2vh 0;
}

.header-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #888;
    padding: 0 10px;
}

.footer-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.modal input {
    width: 100%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: var(--fontInput);
}

select {
    width: 50%;
    height: 30px;
    font-size: 1.2rem;
}

.selectSection label {
    color: var(--fontInput);
    font-size: 1.2rem;
}

.selectSection input {
    width: auto;
    height: 15px;
}

.footer-modal button {
    margin-left: 5px;
    height: 40px;
    width: 20%;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.adicionarBtn {
    background-color: var(--confirmColor);
}

.cancelarBtn {
    background-color: var(--cancelColor);
}

#valorTotalSpanFinishModal {
    font-weight: 700;
}