<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head.html'); %>

    <body>
        <%- include('../../partials/header.html'); %>
            <div class="page-container">
                <main>
                    <h2>Ativos</h2>

                    <input type="text" id="search" onkeyup="find()">
                    <br>



                    <div class="cars-data">

                        <% values.forEach(function(carro) {%>
                            <div class="car">
                                <div class="content-title">
                                    <p>
                                        <strong>#<%=carro.id_carro%></strong>
                                    </p>
                                    <div class="buttons">
                                        <a class="openModalFinish mrrfsrfss <%=Number(carro.id_carro)%>"></a>
                                        <a class="wxosppsaw <%=Number(carro.id_carro)%>"></a>
                                        <a class="zap <%=Number(carro.id_carro)%>"></a>
                                    </div>
                                </div>
                                <hr>

                                <div class="data">


                                    <p>
                                        <%=carro.marca%>
                                            <%=carro.modelo%>
                                    </p>
                                    <p>
                                        <%=carro.cor%>
                                    </p>
                                    <p>
                                        <%=carro.placa%>
                                    </p>
                                    <p>
                                        <% if(carro.tipo==1){%>
                                            HORA
                                            <%}else{%>
                                                PERÍODO
                                                <% }%>
                                    </p>
                                    <p>
                                        <% if(carro.tamanho==1){%>
                                            PADRÃO
                                            <%}else if(carro.tamanho==2){%>
                                                GRANDE
                                                <% }else{%>
                                                    MOTO
                                                    <% }%>
                                    </p>
                                    <p>
                                        <%=carro.hora_entrada%>
                                    </p>


                                </div>




                            </div>
                            <%})%>

                    </div>
                    <button id="openModalAddCar" class="adicionar" onclick="add()">add</button>
                    <%- include('../../partials/modalAdd.html'); %>
                        <%- include('../../partials/modalFinish.html'); %>
                            <%- include('../../partials/modalEdit.html'); %>
                                <%- include('../../partials/modalConfirma.html'); %>

                </main>
                <%- include('../../partials/footer.html'); %>
            </div>

            <script src="../../public/js/edit.js"></script>
            <script src="../../public/js/finish.js"></script>
            <script src="../../public/js/remove.js"></script>
            <script src="../../public/js/findInPage.js"></script>
    </body>

</html>