<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head.html'); %>

    <body>
        <%- include('../../partials/header.html'); %>
            <main>
                <h2>Ativos</h2>

                <input type="search">


                <div class="cars-data">

                    <% values.forEach(function(carro) {%>
                        <div class="car">
                            <p>
                                <strong>#<%=carro.id_carro%></strong>
                            </p>
                            <hr>
                            <div class="content-ativos">
                                <div class="data">


                                    <p>
                                        <%=carro.marca%>
                                            <%=carro.modelo%>
                                    </p>
                                    <p>
                                        <%=carro.cor%>
                                    </p>
                                    <p>
                                        <%=carro.placa%>
                                    </p>
                                    <p>
                                        <% if(carro.tipo==1){%>
                                            HORA
                                            <%}else{%>
                                                PERÍODO
                                                <% }%>
                                    </p>
                                    <p>
                                        <% if(carro.tamanho==1){%>
                                            PADRÃO
                                            <%}else if(carro.tamanho==2){%>
                                                GRANDE
                                                <% }else{%>
                                                    MOTO
                                                    <% }%>
                                    </p>
                                    <p>
                                        <%=carro.hora_entrada%>
                                    </p>
                                </div>
                                <div class="buttons">
                                    <button class="openModalFinish mrrfsrfss <%=Number(carro.id_carro)%>">F</button>
                                    <button class="wxosppsaw <%=Number(carro.id_carro)%>">E</button>
                                    <button>Z</button>
                                </div>
                            </div>




                        </div>
                        <%})%>

                </div>
                <button id="openModalAddCar" class="adicionar" onclick="add()">add</button>
                <%- include('../../partials/modalAdd.html'); %>
                    <%- include('../../partials/modalFinish.html'); %>
                        <%- include('../../partials/modalEdit.html'); %>
                            <%- include('../../partials/modalConfirma.html'); %>
            </main>
            <script src="../../public/js/edit.js"></script>
            <script src="../../public/js/finish.js"></script>
            <script src="../../public/js/remove.js"></script>
    </body>

</html>