header{
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;

}
div.tabela-dados::-webkit-scrollbar {
    width: 5px;
    background-color: #ccc;
    color: #222;
}
div.tabela-dados::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #222;
    color: #222;
}
.logo img{
    height: 80px;
    float: left;
}
.main-menu{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabela-ativos{
    background-color: #ddd;
    min-height: 50vh;
    max-height: 75vh;
    width: 75%;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #222;
}
.colunas-tabela, .linhas-tabela{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;

}
.col, .linha{
    width: 15%;
    border: 1px solid #222;
    border-left: none;
    height: 25px;
    background-color: #fff;
}
.tabela-dados{
    overflow-y: auto;
    max-height: 50vh;
    margin-bottom: 30px;
    scrollbar-width: none;
}
.col{
    font-weight: 700;
}
.marca{
    border-left: 1px solid #222;
}
.adicionar{
    position: fixed;
    left: 95%;
    bottom: 8%;
}