<!DOCTYPE html>
<html lang="pt-br">

<%- include('../../partials/head.html'); %>

    <body>
        <%- include('../../partials/header.html'); %>
            <div class="page-container">
                <main>
                    <h2>Histórico</h2>
                    <input type="text" id="search" class="search2" onkeyup="find2()">
                    <section class="cars-history">
                        <% values.forEach(function(carro) {%>
                            <div class="">
                                <div class="row">
                                    <div class="content">
                                        <p>
                                            <strong>#<%=carro.id_carro%></strong>
                                        </p>
                                        <p>
                                            <%=carro.marca%>
                                                <%=carro.modelo%> -
                                                    <%=carro.placa%>
                                        </p>
                                        <p>
                                            <%=carro.hora_entrada%> ~ <%=carro.hora_saida%>
                                        </p>
                                        <p>
                                            <strong>R$<%=carro.valor_total%></strong>
                                        </p>

                                    </div>
                                    <div class="hpseks <%=carro.id_carro%>">></div>
                                </div>
                            </div>
                            <%})%>
                    </section>
                </main>
                <%- include('../../partials/footer.html'); %>
            </div>

            <%- include('../../partials/modalHist.html'); %>
                <%- include('../../partials/modalConfirma.html'); %>

    </body>
    <script src="../../../public/js/findInPage.js"></script>
    <script src="../../../public/JS/hist.js"></script>
    <script src="../../../public/JS/ativos.js"></script>

</html>